üü¢ Zad√°n√≠ 1
Uva≈æuj, ≈æe zpracov√°v√°≈° anal√Ωzu pro softwarovou firmu. 
Firma m√° kancel√°≈ôe v Praze, Plzni a Liberci. Seznam zamƒõstnanc≈Ø pro jednotliv√© kancel√°≈ôe najde≈° v souborech zam_praha.csv, zam_plze≈à.csv a zam_liberec.csv.
   ‚ö¨ Naƒçti data o zamƒõstnanc√≠ch z CSV soubor≈Ø do tabulek (DataFrame). Ke ka≈æd√© tabulce p≈ôidej nov√Ω sloupec mesto, kter√© bude obsahovat informaci o tom, ve kter√©m mƒõstƒõ zamƒõstnanec pracuje.

In [47]:
import pandas as pd

df_praha = pd.read_csv("zam_praha.csv")
df_plzen = pd.read_csv("zam_plzen.csv")
df_liberec = pd.read_csv("zam_liberec.csv")

df_praha["mesto"] = "Praha"
df_plzen["mesto"] = "Plze≈à"
df_liberec["mesto"] = "Liberec"

#kontrola, ≈æe tabulka obsahuje nov√Ω sloupec:
df_praha.head(1)

   jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto
0  Brian      Hall  +421 949 656 098                 30  Praha

   ‚ö¨ Vytvo≈ô novou tabulku zamestnanci a ulo≈æ do n√≠ informace o v≈°ech zamƒõstnanc√≠ch (operace concat).

In [48]:
zamestnanci = pd.concat([df_praha, df_plzen, df_liberec], ignore_index=True)

   ‚ö¨ Ze souboru platy_2021_02.csv naƒçti platy zamƒõstnanc≈Ø za √∫nor 2021. Propoj tabulku (operace join) s platy a tabulku se zamƒõstnanci pomoc√≠ sloupce cislo_zamestnance.

In [77]:
platy = pd.read_csv("platy_2021_02.csv")
zamestnanci_merge  = pd.merge(zamestnanci, platy, on="cislo_zamestnance", how="left")
zamestnanci_merge.head(2)

   jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto     plat
0  Brian      Hall  +421 949 656 098                 30  Praha  33500.0
1  Marta  Kol√°≈ôov√°       730 456 163                 32  Praha  53000.0

   ‚ö¨ Porovnej rozmƒõry tabulek p≈ôed spojen√≠m a po spojen√≠. Pokud nem√° nƒõkter√Ω zamƒõstnanec plat za √∫nor, znamen√° to, ≈æe v na≈°√≠ firmƒõ ji≈æ nepracuje.

In [78]:
print("Rozmƒõry tabulek p≈ôed spojen√≠m:")
print("Zamƒõstnanci:", zamestnanci.shape)
print("Platy:", platy.shape)

print("\nRozmƒõry tabulky po spojen√≠:")
print("Celkov√° tabulka:", zamestnanci_merge.shape)

Rozmƒõry tabulek p≈ôed spojen√≠m:
Zamƒõstnanci: (56, 5)
Platy: (43, 2)

Rozmƒõry tabulky po spojen√≠:
Celkov√° tabulka: (56, 6)

In [97]:
nezamestnani_count = zamestnanci_merge["plat"].isnull().sum()
print(f"Poƒçet nezamƒõstnan√Ωch: {nezamestnani_count}")

zamestnanci_cleaned = zamestnanci_merge.dropna(subset=["plat"])
print("Celkov√° tabulka po vyƒçi≈°tƒõn√≠:", zamestnanci_cleaned.shape)

Poƒçet nezamƒõstnan√Ωch: 13
Celkov√° tabulka po vyƒçi≈°tƒõn√≠: (43, 6)

   ‚ö¨ Spoƒçti pr≈Ømƒõrn√Ω plat zamƒõstnanc≈Ø v jednotliv√Ωch kancel√°≈ô√≠ch.

In [105]:
Prumerne_platy = zamestnanci_cleaned.groupby('mesto')["plat"].mean()
print(Prumerne_platy)

mesto
Liberec    43775.000000
Plze≈à      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

üü¢ Zad√°n√≠ 2
Pokraƒçuj ve sv√© pr√°ci pro softwarovou firmu. Ze souboru vykazy.csv naƒçti informace o v√Ωkazech na projekty pro jednoho vybran√©ho z√°kazn√≠ka.
‚ö¨ Naƒçti data ze souboru a ulo≈æ je do tabulky.
‚ö¨ Proveƒè agregaci a zjisti celkov√Ω poƒçet vyk√°zan√Ωch hodin za jednotliv√© projekty.

In [107]:
vykazy = pd.read_csv("vykazy.csv")
celkove_hodiny_projektu = vykazy.groupby("project")["hours"].sum()
print(celkove_hodiny_projektu)

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64